body {
  margin: 0;
}

header {
  background: #03a9fa;
  text-align: center;
}

footer {
  height:100px;
  background: #03a9fa;
  text-align: center;
}

.footer-caption {
  color:#fff;
  font-family: 'Inconsolata';
}

.logo {
  color: #fff;
  font-family: 'Inconsolata';
  text-align: center;
  font-size:15px;
  margin-top: -10px;
}

.App-logo {
  width: 50px;
  margin-top:50px;

}

a {
  text-decoration: none;
}

header input {
  font-size: 20px;
  margin: 20px 0px;
}

.department_item{
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
}


.inconsolata {

font-family: 'Inconsolata', monospace;
}